@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #2b76f0;
  --secondary-text: #797b81;
  --border-color: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  @apply disabled:bg-[#cccccc] disabled:border-0 bg-(--brand) text-background px-6 py-1 rounded-md border border-(--brand) hover:bg-transparent active:bg-transparent hover:text-(--brand) active:text-(--brand) transition-all duration-200;
}
.input {
  @apply border border-(--border-color) px-4 py-1 rounded-md;
}
.aiSummary {
  @apply border border-(--border-color) p-4 rounded-md  mb-4;
}
.aiDay {
  @apply mb-4 text-(--brand);
}
.aiSubject {
  @apply text-[1.25rem] font-medium mb-2 text-(--brand);
}
.aiStudyTip {
  @apply text-[1rem] text-(--secondary-text);
}
